.search-form {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  app-form-field {
    flex: 1;
    margin-right: 10px;
  }
}

.section {
  margin-bottom: 20px;
}

.section.results {
  padding: 0 26px;
  margin-bottom: 0;
}